@use '../../color_theme';

* {
    box-sizing: border-box;
}

.record_app {
    background-color: color_theme.$primary_color1_feint;
    height: 100vh;
    color: color_theme.$font_color2;
    font-family:  Helvetica, sans-serif;
    .bx {
        background-color: color_theme.$primary_color1_feint;
        color: color_theme.$font_color1;
        border-bottom: 1px solid color_theme.$card_header1;

        .rec_text {
            color: color_theme.$font_color2;
        }

        .rec_text:target {
            background-color: color_theme.$primary_color1;
            border: 1px solid color_theme.$primary_color1;
            color: color_theme.$font_color1;
            border-bottom: 1px solid color_theme.$card_header1;
        }
    }
}