@use '../../color_theme';

.landing_container {
    height: 100vh;
    background-image: linear-gradient(to right,  color_theme.$primary_color1, color_theme.$primary_color2 );
    padding: 10px;
    color: white;
    button {
        width: 13vw;
        height: 5vh;
        border-radius: 6px;
        background-color: color_theme.$primary_color1;  
        color: white;
    }
    button:focus {
        outline: none;
    }
    .logo {
        border: 1px solid white;
        height: 10vh;
    }

    .description {
        border: 1px solid white;
        height: 50vh;
        &_item {
            display: flex;
            flex-direction: column;
            border: 1px solid yellow;
            width: 30%;
            height: inherit;
            &_header {
                border: 2px solid salmon;
                height: 70%;
            }
            &_footer {
                border: 2px solid salmon;
                height: 30%;
            }
        }
    }

    .button_container {
        border: 1px solid white;
        height: 30vh;
    }
}