@use '../../color_theme';
@use '../../screen.scss';

.menu_container {
    font-family:  Helvetica, sans-serif;
}
.canvas_header {
    background-image: white;
}
.canvas_body {
    background-image: linear-gradient(color_theme.$primary_color2, color_theme.$primary_color1);
    padding: 0px;
    hr {
        color: color_theme.$font_color1;
    }
}

nav {
    display: flex;
    flex-direction: column;
    .menu_link {
        text-decoration: none;
        color: color_theme.$font_color1;
        font-size: 2em;
        background-color: rgba(102, 5, 135, 0.507);
        margin-bottom: 3px;
        border-radius: 4px;
        padding-left: 5px;
        cursor: pointer;
    }

    .menu_link:hover {
        background-color: color_theme.$color_hover ;
        color: color_theme.$font_color1;
        border-left: 5px solid color_theme.$font_color1;
        transition: 0.5s;
    }

    .icon {
        position: relative;
        left: 2px;
        bottom: 4px;
        width: 6.5%;
        height: 3vh;
        margin-right: 5px;
    }

}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avater {
        height: 30vh;
        width: 30vh;
        border-radius: 100%;
        background-color: white;
        img {
            height: inherit;
            width: inherit;
            border-radius: 100%;
        }
    }
}

.user_details {
    display: flex;
    flex-direction: row;
    &_1 {
        border-radius: 10%;
        color: color_theme.$font_color1;
        height: 10%;
        margin-bottom:  10px;
        margin-right: 5px;
        font-size: auto;
    }
}

@media screen and (max-width: screen.$mobile-devices-max) {
    nav {
        .menu_link {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: screen.$ipads-tablets-max) {
    nav {
        .menu_link {
            font-size: 1.5em;
        }
    }
}