@use '../../../color_theme';
@use '../../../screen.scss';

*{
    box-sizing: border-box;
}

.rec_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    width: 100vw;
    height: 80vh;
    background-color: color_theme.$primary_color1_feint;
    .record-container {
        display: flex;
        flex-direction: row;
        height: 70vh;
        //overflow: auto;
        .form0 {
        width: 40vw;
        border-right: 2px solid color_theme.$border_1;
        }

        .form1 {
            width: 40vw;
            margin-left: 10px;
            height: 70vh;
            overflow: auto;
        }
    }
}

form {
    select:focus{
        outline: none;
    }
    .input_with_select {
        border: 1px solid color_theme.$border_1;
        margin: 5px;
        width: fit-content;
        border-radius: 10px;
        padding: 5px;

        input {
            border: none;
            width: fit-content;
            border-radius: 10px;
            background-color: color_theme.$primary_color1_feint;
        }

        input:focus {
            outline: none;
        }

        select {
            border: none;
            border-radius: 10px;
            color: color_theme.$font_color2;
            background-color: color_theme.$primary_color1_feint;
        }
    }

    .my_btn {
        background-color: color_theme.$primary_color1;
        border: color_theme.$primary_color1;
    }

    .my_btn:hover {
        background-color: color_theme.$primary_color1;
    }
    .my_btn:focus {
        background-color: color_theme.$primary_color1;
    }
}

@media screen and (max-width: screen.$mobile-devices-max) {
    .rec_body {
        padding: 10px;
        width: 100vw;
        font-size: 14px;
        height: 70vh;
        overflow: auto;
        .record-container {
            flex-wrap: wrap;
            h2 {
            font-size: 20px;
            }
            .form0 {
                //height: fit-content;
                width: 95vw;
                border-right: 0px solid color_theme.$border_1;
            }
        
            .form1 {
                //height: fit-content;
                //overflow: auto;
                width: 95vw;
                margin: 0px;
            }
        }
    }
}

