@use '../../color_theme';

* {
    box-sizing: border-box;
}

.mb-2 {
    margin-right: 3vw;
}
.home_app {
    background-color: color_theme.$primary_color1_feint;
    height: 100vh;
    .my_card_container {
        display: flex;
        flex-direction: column;
        &1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 40vh;
            margin-bottom: 50px;
            .card_header1 {
                background-color: color_theme.$card_header1;
                text-align: center;
            }
        }
        &2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 40vh;
            padding: none;
            .card_header2 {
                background-color: color_theme.$card_header2;
                text-align: center;
            }
            .card-title {
                margin-bottom: 0px;
            }
            .card-body {
                padding: 0px;
                height: 100%;
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            a {
                                text-decoration: none;
                            }
                            .carousel-news {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-end;
                                height: 33.5vh;
                                &-caption {
                                    height: 10vh;
                                    padding: 0px 2px;
                                    width: 50vw;
                                    background: linear-gradient(#ffffff7c, #ffffff);
                                    color: black;
                                    z-index: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}