@use '../../color_theme';
@use '../../screen.scss';

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family:  Helvetica, sans-serif;
    &_body {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
        padding-left: 30px;
        padding-top: 5px;
        color: color_theme.$primary_color1;
        border-right: 1px solid rgba(152, 144, 144, 0.596);
        border-left: 1px solid rgba(152, 144, 144, 0.596);
        height: fit-content;
        width: 75vw;
        img {
            height: 10vh;
        }
        input {
            width: 35vw;
            height: 7vh;
            margin-bottom: 20px;
            margin-right:  10px;
            padding: 4px;
            font-size: 1.1em;
            border-radius: 6px;
            border:1px solid rgba(152, 144, 144, 0.596)
        }
        input:focus {
            outline: none;
        }
        button {
            width: 13vw;
            height: 5vh;
            border-radius: 6px;
            background-color: color_theme.$primary_color1;
            color: white;
        }
        button:focus {
            outline: none;
        }
        p {
            font-size: 1em;
        }
        h2 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: screen.$mobile-devices-max) {
    .register {
        overflow: auto;
        &_body {
            padding: 8px;
            width: 90vw;
            margin-top: 10px;
            img {
                height: 7vh;
            }
            input {
                width: 80vw;
                padding: 4px;
                font-size: 14px;
            }
            button {
                width: 30vw;
            }
            p {
                font-size: 14px;
            }
            h2 {
                font-size: 18px;
                font-weight: 600;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: screen.$ipads-tablets-min) and (max-width: screen.$ipads-tablets-max) {
    .register {
        overflow: auto;
        &_body {
            padding: 8px;
            width: 75vw;
            margin-top: 10px;
            img {
                height: 8vh;
            }
            input {
                width: 65vw;
                padding: 4px;
                font-size: 16px;
            }
            p {
                font-size: 16px;
            }
            h2 {
                font-size: 20px;
                font-weight: 600;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
}