$color_hover: rgba(82, 69, 83, 0.2);
$tab_color: rgba(201, 168, 207, 0.1);
$primary_color1: #b142b1;
$primary_color1_feint: rgb(253, 247, 253);
$primary_color2: rgb(252, 185, 62);
$font_color1: white;
$font_color2: rgb(31, 29, 29);
$card_header1: rgb(240, 161, 240);
$card_header2: rgb(255, 220, 155);
$border_1: rgb(175, 139, 175);