@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wdth,wght@100,200;100,300;100,600;102.6,506;107.9,639&display=swap');

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Anek Odia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}