$mobile-devices-min: 320px;
$mobile-devices-max: 491px;
$ipads-tablets-min: 492px;
$ipads-tablets-max: 768px; 
$laptops-min: 769px;
$laptops-max: 1366px; 
$desktop-min: 1367px;
$desktop-max: 1200px;
$XL-screen:1201;