$mobile-devices-min: 320px;
$mobile-devices-max: 480px;
$ipads-tablets-min: 481px;
$ipads-tablets-max: 768px; 
$laptops-min: 769px;
$laptops-max: 1024; 
$desktop-min: 1025px;
$desktop-max: 1200px;
$XL-screen:1201;