@use '../../color_theme';

.settings_container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    height: 100vh;
    width: auto;
    background-image: url('./setting_wheel1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    .form1 {
        input {
            width: 15vw;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 7vh;
            font-size: 1.2em;
            padding: 5px;
            border: 2px solid rgba(172, 167, 167, 0.615)
        }
        input:focus {
            outline: none;
        }
        hr {
            width: 50vw;
        }
    }

    .form2 {
        border: 1px solid rgba(255, 99, 132, 1);
        background-color: rgba(255, 99, 132, 0.2);
        height: 40vh;
        padding: 10px;
        border-radius: 10px;
        input, select {
            width: 30vw;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 7vh;
            font-size: 1.2em;
            padding: 5px;
            border: 2px solid rgba(172, 167, 167, 0.615)
        }
        input:focus {
            outline: none;
        }
    }

    button {
            height: 5vh;
            width: 7vw;
            font-size: 1.2vw;
            border-radius: 5px;
            background-color: color_theme.$primary_color1;
            color: white;
            border: none;
        }
        button:focus, button:hover {
            background-color: rgb(108, 39, 140);
        }

}